@import url("https://fonts.google.com/specimen/Epilogue");
.nav {
  display: flex;
  align-items: center;
}
.nav__logo-image {
  margin-left: 1em;
}
.nav__list {
  width: 90%;
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 1.25em;
  color: hsl(0, 0%, 41%);
}
.nav__item:hover:not(.irrelevant) {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.nav__item_company {
  border: 1px solid black;
  position: absolute;
  top: 5%;
  left: 13%;
  padding: 0.25em 1em;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px hsl(0, 0%, 41%);
  line-height: 0.625rem;
  visibility: hidden;
}
.nav__item_company.open-company-details {
  visibility: visible;
}
.nav__icon_hamburguer {
  position: absolute;
  left: 87.5%;
  z-index: 2;
  display: none;
}
.nav__icon_close {
  position: absolute;
  left: 87.5%;
  z-index: 2;
  display: none;
}
.nav__item_features {
  border: 1px solid black;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 5px 5px 10px 5px hsl(0, 0%, 41%);
  width: 12%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25px 120px;
  row-gap: 0.625em;
  padding: 1em;
  position: absolute;
  top: 5%;
  left: 6%;
  visibility: hidden;
}
.nav__item_features.open-features {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .nav {
    position: relative;
    padding-top: 0.5em;
  }
  .nav__list {
    display: none;
  }
  .nav__logo-image {
    margin-top: 0.5em;
  }
  .nav__icon_hamburguer {
    display: block;
  }
  #Register {
    width: 85%;
    margin: 0 auto;
  }
  #Careers {
    margin-bottom: 2rem;
  }
}
.nav__sidebar_container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  background-color: hsla(0, 0%, 8%, 0.75);
  max-width: 0px;
  height: 200vh;
  overflow: hidden;
}
.nav__sidebar_container.open__sidebar_container {
  width: 100%;
  max-width: 100%;
}
.nav__sidebar_menu {
  background-color: hsl(0, 0%, 98%);
  width: 63.5%;
  height: calc(100vh + 2em);
  position: absolute;
  top: 48%;
  z-index: 1;
  padding-top: 3em;
}
.nav__sidebar_features_title {
  color: hsl(0, 0%, 41%);
}

@media screen and (max-width: 768px) {
  .nav__sidebar_menu {
    display: block;
  }
}
.hero__container {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 600px;
  margin: 1em auto;
}
.hero__image-desktop {
  width: 50%;
}
.hero__image-desktop img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.hero__image-mobile {
  width: 100%;
  display: none;
}
.hero__content {
  /* border: 2px solid brown */
  width: 65%;
}
.hero__content h1 {
  width: 80%;
  height: 42.5%;
  font-size: 4.5rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.hero__content p {
  width: 80%;
  color: hsl(0, 0%, 41%);
  margin-top: 2.5em;
  line-height: 1.3em;
}
.hero__content span {
  /* border: 2px solid red  */
  position: absolute;
  margin-top: 1.5em;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  padding: 0.75em;
  border-radius: 10px;
}
.hero__content span:hover {
  color: hsl(0, 0%, 8%);
  font-weight: 700;
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 8%);
  cursor: pointer;
}
.hero__clients {
  /* border: 2px solid yellowgreen */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 60%;
}
.hero__clients-items {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .hero__container {
    width: 100%;
    display: block;
  }
  .hero__image-desktop {
    display: none;
  }
  .hero__image-mobile {
    display: block;
  }
  .hero__content {
    width: 100%;
    margin-top: 2em;
  }
  .hero__content p {
    margin: 1em auto;
    width: 95%;
    text-align: center;
  }
  .hero__content span {
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .hero__clients {
    width: 95%;
    top: 87.5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body {
    font-size: 1rem;
  }
  footer {
    margin: unset;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0%;
  height: 100%;
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

footer {
  align-self: center;
}

.attribution {
  display: flex;
  margin: 10px;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
